<div class="mx-auto w-1/3 flex flex-col text-center">
  <h1 class="text-3xl">ECI Rails Template</h1>

  <div class="mt-4 flex items-center justify-between text-gray-700">
    <a class="hover:text-gray-900" href="https://github.com/maful/eci-rails"><i class="fas fa-star mr-1"></i> <span>Star Me</span></a>
    <a class="hover:text-gray-900" href="https://github.com/maful"><i class="fab fa-github mr-1"></i> <span>Github</span></a>
    <a class="hover:text-gray-900" href="https://www.linkedin.com/in/mafulprayoga/"><i class="fab fa-linkedin mr-1"></i> <span>Linkedin</span></a>
    <a class="hover:text-gray-900" href="http://maful.web.id/"><i class="fas fa-globe mr-1"></i> <span>Web</span></a>
  </div>
  <div class="mt-4">
    <p class="text-sm text-gray-700">Created by <a href="https://twitter.com/mafulprayoga" class="hover:text-gray-900">@mafulprayoga</a></p>
  </div>
</div>
