<div class="min-h-full flex items-center justify-center bg-gray-50">
  <div class="max-w-md w-full">
    <div class="w-full flex justify-between items-center mb-4">
      <h2 class="text-2xl tracking-tight font-light text-gray-900">Show post</h2>

      <div>
        <%= link_to "All Posts", posts_path, class: "bg-transparent hover:bg-blue-500 text-blue-700 hover:text-white text-sm py-1 px-2 border border-blue-500 hover:border-transparent rounded" %>
        <%= link_to "Edit", edit_post_path(@post), class: "bg-blue-500 hover:bg-blue-700 border border-blue-700 text-white text-sm py-1 px-2 rounded ml-1" %>
      </div>
    </div>

    <div class="shadow border border-gray-100 rounded-lg mt-5 text-sm">
      <div class="px-8 py-6">
        <dl class="flex flex-wrap -m-2">
          <dt class="w-4/12 font-semibold p-2">Title</dt>
          <dd class="w-8/12 p-2"><%= @post.title %></dd>

          <dt class="w-4/12 font-semibold p-2">Description</dt>
          <dd class="w-8/12 p-2"><%= @post.description %></dd>
        </dl>
      </div>
    </div>
  </div>
</div>
